.HeroSection {
    padding: 2rem;
    background-color: var(--dark-green);
  }
  
  .mainSection {
    padding: 2rem 4rem;
    font-size: 1.5rem;
  }
  
  .HeroImage {
    border-radius: 16px;
    aspect-ratio: 2 / 2;
    border:2px solid var(--white);
    margin-right:2rem;
  }
  
  h1 {
    color: var(--lemon-yellow);
    font-weight: bold;
  }
  
  .HeroSpan {
    color: var(--white);
  }
  
  .HeroParagraph {
    color: var(--white);
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-wrap:pretty;
  }
  

  @media (max-width: 1080px) {
    .HeroParagraph{
      font-size: 1rem;
    }

    .HeroImage{
      margin-right: 3rem;
    }
  }


  @media (max-width: 767px) {
  
    .HeroImage {
        aspect-ratio: 4 / 3;
        width: 100%;
        margin-right: 0;
      }
  
    .mainSection {
      text-align: center;
      font-size: 1.2rem;
    }
  }
  