.ReviewsBackground{
    background-color: var(--white);
}

.SpecialsTitle{
color: var(--black);
margin-bottom: 2rem;
}

.SpecialsSection{
    padding-bottom:2rem;
    padding-top:2rem;
}


.SpecialsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.SpecialsContainer>.slick-slider>.slick-next:nth-of-type(2):before {
    color:var(--dark-green);
}

.SpecialsContainer>.slick-slider>.slick-prev:nth-of-type(1):before {
    color:var(--dark-green);
}

@media only screen and (max-width: 960px) {
    .SpecialsHeader>button{
        font-size: 1.2rem;
    }
    .SpecialsHeader>h1{
        font-size: 1.2rem;
    }

    .SpecialsTitle
    {
        margin: 0;
    }
    
}