.SpecialsTitle{
color: var(--black);
margin-bottom: 2rem;
}


.SpecialsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem;

}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 960px) {
    .SpecialsHeader>button{
        font-size: 1.2rem;
    }
    .SpecialsHeader>h1{
        font-size: 1.2rem;
    }

    .SpecialsTitle
    {
        margin: 0;
    }
    
}