

.Navbar{
    background-color: var(--pure-white);
    margin-right: 2rem;
    width: 95%;
    font-size: 1.2rem;
  }
  
  .Navbar ul{
    list-style: none;
    display: flex;
    color: var(--dark-green);
    margin:1rem 8rem;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
  }
  
  #hamburger{
    display: none;
    cursor: pointer;
  }

  .MobileMenu{
    position: absolute;
    background-color: var(--pure-white);
    width: 100%;
    text-align: center;
  }

  .MobileMenuLinks{
    color: var(--dark-green);
    font-weight: bold;
    font-size: 1.5rem;
  }

  .MobileMenuLinks ul{
    list-style: none;
    padding: 0;
  }

  .MobileMenuLinks ul li{
    margin: 2rem 0rem;
  }
  
  .HeroSection{
    background-color: var(--dark-green);
  }
  
  .ImageContainer{
    display: flex;
    justify-content: center;
  }


  @media only screen and (max-width: 960px) {
    .Navbar>ul{
      margin:1rem 2rem;
    }
  }


  @media only screen and (max-width: 767px) {

    .Navbar>ul{
      margin:1rem 2rem;
    }

    .Navbar li{
      display: none;
    }
  
    #logo{
      display: flex;
    }
  
    #hamburger{
      display: flex;
    }
  
    .Navbar{
      justify-content: space-between;
    }
  }